---
layout : default-white.html
title : Learning Champs | Registration
---





<section class="page-register">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-10">

                <h2>
                    Register as a <br>
                    School Champ
                </h2>

                <p class="r-text-large">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore.
                </p>
            </div>
        </div>




        <div class="row justify-content-center">
            <div class="col-md-9">

                <form action="#">
                    <h4>
                        Selected account type
                    </h4>
                    <div class="selected-membership">
                        <p>
                            School membership
                        </p>

                        <p>
                            2200 -
                            Per Annum
                        </p>
                    </div>




                    <div class="row border-botttom">
                        <div class="col-md-12">
                            <div class="form-element">
                                <label for="">Full name</label>
                                <input type="text" class="form-control" value="James William Thompson"
                                    placeholder="Full name">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Email</label>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Username</label>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Password</label>
                                <input type="password" value="12345" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Re-type password</label>
                                <input type="password" value="12345" class="form-control"
                                    placeholder="Re-type password">
                            </div>
                        </div>
                    </div>


                    <div class="row border-botttom">


                        <div class="col-md-12">
                            <h4>
                                School Information
                            </h4>
                            <div class="form-element">
                                <label for="">School name</label>
                                <input type="text" class="form-control" placeholder="School name">
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Country</label>
                                <input type="text" class="form-control" placeholder="Country">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">City</label>
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="form-element">
                                <label for="">Address</label>
                                <input type="text" class="form-control" placeholder="Address">
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-element">
                                <label for="">Authority</label>
                                <input type="text" class="form-control" placeholder="Authority">
                            </div>
                        </div>
                    </div>

                    <div class="row border-botttom">


                        <div class="col-md-12">
                            <h4>
                                Payment Information
                            </h4>

                        </div>




                        <div class="col-md-12 col-sm-12">
                            <div class="form-element">
                                <label for="">Card type</label>
                                <div class="credit-cards">
                                    <div class="card-type visa selected">
                                        <input type="radio" name="card-type">
                                        <img src="{{assets}}images/visa.svg" alt="">
                                    </div>
                                    <div class="card-type">
                                        <input type="radio" name="card-type">
                                        <img src="{{assets}}images/mastercard.svg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Expiary date</label>
                                <input type="text" class="form-control" placeholder="MM/YY">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-element">
                                <label for="">Security code</label>
                                <input type="text" class="form-control" placeholder="CVC">
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-12">
                            <h4>
                                Do you have a coupon for Learning Champs?
                            </h4>


                            <div class="form-element">
                                <label for="">Coupon code</label>
                                <input type="text" class="form-control" placeholder="Coupon code">
                            </div>

                        </div>



                    </div>


                    <div class="form-element">
                        <button type="submit" class="btn btn-default btn-large">
                            Register
                        </button>
                        <div class="clearfix"></div>
                    </div>



                </form>



            </div>
        </div>




    </div>







</section>