---
layout : default-white.html
title : Learning Champs | Registration
---





<section class="page-login page-account">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-10">

                <h2>
                    A Step Closer to Being a Champ!
                </h2>

                <p class="r-text-large">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore.
                </p>
            </div>




        </div>

        <div class="row">
            <div class="col-md-12">
                <form action="#">


                    <h4>
                        Select Account Type & Package
                    </h4>


                    <div class="account-type row">
                        <div class="col-md-4">
                            <div class="type selected">
                                <span></span>
                                <input type="radio" value="family" name="acc_type">
                                <p>
                                    Family Membership
                                </p>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="type school"><span></span>

                                <input type="radio" value="school" name="acc_type">
                                <p>
                                    School Membership
                                </p>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="type institute"><span></span>
                                <input type="radio" value="institute" name="acc_type">
                                <p>
                                    Institute Membership
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">

                        <div class="per-month">


                            <h2>
                                $200
                                <small>
                                    PER MONTH
                                </small>
                            </h2>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                </li>
                                <li>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                </li>
                                <li>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur.
                                </li>
                            </ul>

                            <a href="#" class="btn btn-default btn-large">
                                Get Started
                            </a>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="per-annum">
                            <h2>
                                $200
                                <small>
                                    PER MONTH
                                </small>
                            </h2>
                            <ul>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                </li>
                                <li>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur.
                                </li>
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                </li>
                                <li>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur.
                                </li>

                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                </li>
                            </ul>


                            <a href="#" class="btn btn-default btn-large">
                                Get Started
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>


</section>