---
layout : default.html
title : Learning Champs | Home page
---

<section id="slider">

    <div class="container">

        <img class="kids-image" src="{{assets}}images/kids.png" alt="">

        <img class="slider-image"
            srcset="{{assets}}images/slider-image.png 1x, {{assets}}images/slider-image@2x.png 2x, {{assets}}images/slider-image@3x.png 3x"
            src="{{assets}}images/slider-image.png" alt="">
    </div>
    <img class="waves" src="{{assets}}images/waves.svg" alt="">

</section>


<section class="content-block-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-center">
                    Start Exploring
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit ab eaque reprehenderit cupiditate
                    aut obcaecati consectetur nobis culpa atque tempore saepe, commodi quas cumque praesentium illo
                    soluta minus velit!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="#" class="rec-blue">
                    <h4>
                        Study Zone
                    </h4>

                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="#" class="rec-green">
                    <h4>
                        Champ Zone
                    </h4>

                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="#" class="rec-orange">
                    <h4>
                        Game Zone
                    </h4>

                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <a href="#" class="rec-purple">
                    <h4>
                        Membership Zone
                    </h4>

                </a>
            </div>
        </div>
    </div>
</section>

<section class="content-block-two">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <img src="{{assets}}images/shape1.svg" alt="">
                <h3>
                    10000+ Members
                </h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam
                </p>
            </div>

            <div class="col-md-4 col-xs-4">
                <img src="{{assets}}images/shape2.svg" alt="">
                <h3>
                    Big Achievements
                </h3>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam
                </p>
            </div>

            <div class="col-md-4 col-xs-4">
                <img src="{{assets}}images/shape3.svg" alt="">
                <h3>
                    Easy Learning
                </h3>

                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam
                </p>
            </div>


        </div>
    </div>
</section>


<section class="content-block-three">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-center">
                    Awards and Accolades
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit ab eaque reprehenderit cupiditate
                    aut obcaecati consectetur nobis culpa atque tempore saepe, commodi quas cumque praesentium illo
                    soluta minus velit!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="awards-wrapper">
                    <img src="{{assets}}images/a1.png" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="awards-wrapper">
                    <img src="{{assets}}images/a3.png" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="awards-wrapper">
                    <img src="{{assets}}images/a3.png" alt="">
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="awards-wrapper">
                    <img src="{{assets}}images/a1.png" alt="">
                </div>
            </div>
        </div>
        <div class="arrows">

            <a href="#" class="left-arrow"></a>
            <a href="#" class="right-arrow"></a>

        </div>
    </div>
</section>

<section class="study-zone">
    <img class="footer-image" src="{{assets}}images/footer.png" alt="">



    <div class="books-wrapper">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-10">
                    <h2>
                        Study Zone
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit ab eaque reprehenderit
                        cupiditate
                        aut obcaecati consectetur nobis culpa atque tempore saepe, commodi quas cumque praesentium illo
                        soluta minus velit!
                    </p>
                </div>
            </div>



            <div class="study-books">
                <ul>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/reception.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" data-title="Year 1" data-position="top">
                            <img src="{{assets}}images/year-1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-4.png" alt="">
                        </a>
                    </li>

                </ul>
                <img src="{{assets}}images/rack.png" alt="">
            </div>
            <div class="study-books">
                <ul>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-5.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="tooltip" title="Year 1" data-placement="top">
                            <img src="{{assets}}images/year-6.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-7.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-8.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-9.png" alt="">
                        </a>
                    </li>

                </ul>
                <img src="{{assets}}images/rack.png" alt="">
            </div>
            <div class="study-books">
                <ul>

                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-10.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/year-11.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{assets}}images/more.png" alt="">
                        </a>
                    </li>

                </ul>
                <img src="{{assets}}images/rack.png" alt="">
            </div>

            <a href="#" class="btn-default btn-large">
                View More
            </a>
        </div>

    </div>

</section>


<section class="testimonials">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-6 col-sm-7 t-message">


                <img src="{{assets}}images/quote.svg" alt="">
                <h3>Excellent Educational Website</h3>
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa”</p>
                <h4>
                    Lillian Craig
                    <small>
                        Horizon Tower, London - Parent
                    </small>
                </h4>

                <div class="arrows">


                    <a href="#" class="left-arrow"></a>
                    <a href="#" class="right-arrow"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 client-image">
                <img src="{{assets}}images/client.png" alt="">

            </div>



        </div>
    </div>
</section>

<section class="champ-zone">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2>
                    Champ Zone
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, distinctio enim autem praesentium
                    hic perferendis ea consequuntur obcaecati iusto, alias quo sapiente optio odit facere quae animi?
                    Voluptate, voluptas magni?
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="kids-game-block switch-game">
                    <a href="#">
                        <h4>
                            Nintendo Switch + Game
                        </h4>
                        <img src="{{assets}}images/group-18.png" alt="">
                    </a>
                </div>

            </div>

            <div class="col-md-6 col-xs-12">

                <div class="row">
                    <div class="col-6">
                        <div class="kids-game-block ipad">
                            <a href="#">
                                <h4>
                                    iPad
                                </h4>
                                <img src="{{assets}}images/group-19.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="kids-game-block teddy">
                            <a href="#">
                                <h4>
                                    Mr.Teddy
                                </h4>
                                <img src="{{assets}}images/group-21.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="kids-game-block xbox">
                            <a href="#">
                                <h4>
                                    05 Xbox games
                                </h4>
                                <img src="{{assets}}images/group-20.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-3 col-xs-6">
                <div class="kids-game-block controller">
                    <a href="#">
                        <h4>
                            Xbox controller
                        </h4>
                        <img src="{{assets}}images/group-25.png" alt="">
                    </a>
                </div>

            </div>
            <div class="col-md-3 col-xs-6">
                <div class="kids-game-block amazon">
                    <a href="#">
                        <h4>
                            Amazon Fire HD
                        </h4>
                        <img src="{{assets}}images/group-24.png" alt="">
                    </a>
                </div>

            </div>
            <div class="col-md-3 col-xs-6">
                <div class="kids-game-block tab">
                    <a href="#">
                        <h4>
                            Kids tab
                        </h4>
                        <img src="{{assets}}images/group-23.png" alt="">
                    </a>
                </div>

            </div>
            <div class="col-md-3 col-xs-6">
                <div class="kids-game-block binoculars">
                    <a href="#">
                        <h4>
                            Binoculars
                        </h4>
                        <img src="{{assets}}images/group-22.png" alt="">
                    </a>
                </div>

            </div>
        </div>

        <a href="#" class="btn btn-default ">
            View More
        </a>

    </div>
</section>


<section class="game-zone">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>Game Zone</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti odio optio qui error. Dolorum
                    suscipit itaque sapiente et placeat eligendi, labore ab reprehenderit illo molestias eveniet
                    temporibus autem at voluptates.
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="game-wrapper">
                    <a href="#">
                        <button class="btn btn-default btn-large">
                            Play
                        </button>
                    </a>
                </div>


            </div>

            <div class="col-md-6">

                <div class="game-wrapper-small">
                    <a href="#">


                        <button class="btn btn-default btn-large">
                            Play
                        </button>
                    </a>
                </div>

                <div class="game-wrapper-small">
                    <a href="#">
                        <button class="btn btn-default btn-large">
                            Play
                        </button>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="membership-zone">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2>
                    Membership Zone
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum pariatur libero qui, in consectetur
                    eaque! In, magni cum rerum, voluptatum omnis minus ipsum hic veritatis dolorum neque numquam sunt
                    iusto.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#">

                    <div class="bg-orange">
                        <img src="{{assets}}images/group-29.png" alt="">
                    </div>
                    <h3>
                        Family Membership
                    </h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <button class="btn btn-default btn-large">
                        Start Course
                    </button>

                </a>
            </div>
            <div class="col-md-4">
                <a href="#">

                    <div class="bg-blue">
                        <img src="{{assets}}images/group-30.png" alt="">
                    </div>
                    <h3>
                        School Membership

                    </h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <button class="btn btn-default btn-large">
                        Start Course
                    </button>

                </a>
            </div>
            <div class="col-md-4">
                <a href="#">

                    <div class="bg-green">
                        <img src=" {{assets}}images/group-30.png" alt="">
                    </div>
                    <h3>
                        Institute Membership

                    </h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <button class="btn btn-default btn-large">
                        Start Course
                    </button>

                </a>
            </div>
        </div>

    </div>
</section>

<footer>

    <img src="{{assets}}images/footerwaves.png" alt="">


    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#">
                    <img src="{{assets}}images/logo-white.png" alt="">
                </a>
            </div>
        </div>
    </div>


</footer>