body {
  margin: 0px;
  padding: 0px;
  position: relative; }

img {
  width: 100%; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
/*************************************
* Home page
*************************************/
#slider {
  width: 100%;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto;
  background-image: linear-gradient(to top, #0598ff, #ddf2ff);
  position: relative;
  padding: 56px 0px 0px 0px; }
  #slider div.container {
    position: relative; }
  #slider img {
    width: 100%; }
  #slider .kids-image {
    width: 498px;
    height: 574px;
    position: absolute;
    right: 100px;
    bottom: 0px; }
  #slider .waves {
    position: absolute;
    bottom: 0px; }

.btn-default {
  height: 44px;
  padding: 0px 20px;
  object-fit: contain;
  border-radius: 40px;
  color: #28323f;
  background: #fff;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 3px 0 0 #28323f;
  -webkit-box-shadow: 0 3px 0 0 #28323f;
  -ms-box-shadow: 0 3px 0 0 #28323f;
  -moz-box-shadow: 0 3px 0 0 #28323f;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 44px;
  letter-spacing: normal; }
  .btn-default:hover {
    text-decoration: none;
    color: #5a708d; }
  .btn-default:active {
    transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95); }

.btn-signup {
  box-shadow: 0 3px 0 0 #8b0010;
  -webkit-box-shadow: 0 3px 0 0 #8b0010;
  -ms-box-shadow: 0 3px 0 0 #8b0010;
  -moz-box-shadow: 0 3px 0 0 #8b0010;
  color: #fff;
  background-image: linear-gradient(253deg, #ffb80a, #f01446);
  transition: 0s ease; }
  .btn-signup:hover {
    text-decoration: none;
    color: white; }

.btn-login {
  box-shadow: 0 3px 0 0 #28323f;
  -webkit-box-shadow: 0 3px 0 0 #28323f;
  -ms-box-shadow: 0 3px 0 0 #28323f;
  -moz-box-shadow: 0 3px 0 0 #28323f;
  color: #28323f;
  transition: 0s ease; }
  .btn-login:hover {
    color: #fff;
    background-image: linear-gradient(253deg, #ffb80a, #f01446); }

.btn-search {
  width: 44px;
  height: 44px;
  padding: 0px;
  transition: 0s ease; }
  .btn-search img {
    width: auto;
    display: inline-block; }
  .btn-search .close-search {
    display: none; }
  .btn-search.show-search img {
    display: none; }
  .btn-search.show-search .close-search {
    display: inline-block; }
  .btn-search:hover {
    background-image: linear-gradient(253deg, #ffb80a, #f01446); }
    .btn-search:hover img {
      filter: brightness(700%); }

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #0798fd; }

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #28323f; }

p {
  color: #777e85;
  font-size: 16px; }

.content-block-one {
  padding: 60px 0px 60px 0px; }
  .content-block-one h2 {
    margin: 20px 0px; }
  .content-block-one p {
    font-weight: 100;
    margin: 0px 0px 40px 0px; }
  .content-block-one a {
    display: inline-flex;
    width: 100%;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .content-block-one a:hover {
      text-decoration: none;
      transform: translateY(-20px); }
    .content-block-one a:active {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95); }
    .content-block-one a h4 {
      font-size: 20px;
      font-weight: 800;
      font-family: "Poppins", sans-serif;
      color: #fff;
      text-align: Center;
      text-decoration: none; }
  .content-block-one a.rec-blue {
    background: url("../images/rec-blue.svg") center center no-repeat;
    background-size: contain; }
  .content-block-one a.rec-orange {
    background: url("../images/rec-orange.svg") center center no-repeat;
    background-size: contain; }
  .content-block-one a.rec-green {
    background: url("../images/rec-green.svg") center center no-repeat;
    background-size: contain; }
  .content-block-one a.rec-purple {
    background: url("../images/rec-purple.svg") center center no-repeat;
    background-size: contain; }

.content-block-two h3 {
  text-align: Center;
  font-weight: 600; }
.content-block-two p {
  font-size: 14px;
  text-align: Center;
  font-weight: 100; }
.content-block-two img {
  width: auto;
  display: block;
  margin: 20px auto; }

.content-block-three {
  padding: 80px 0px 0px 0px; }
  .content-block-three h2 {
    margin: 20px 0px; }
  .content-block-three div.awards-wrapper {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 270px;
    height: 150px;
    border-radius: 145.5px;
    box-shadow: 5px 10px 0 0 #f3f3f3;
    background-color: #f1f1f1; }
    .content-block-three div.awards-wrapper img {
      max-width: 100%;
      width: auto;
      display: block;
      margin: 0 auto; }

div.arrows {
  text-align: Center;
  padding: 30px 0px 30px 0px; }

a.left-arrow,
a.right-arrow {
  width: 44px;
  height: 44px;
  background: url("../images/left-arrow.svg") center center no-repeat;
  background-size: contain;
  display: inline-block; }
  a.left-arrow:hover,
  a.right-arrow:hover {
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  a.left-arrow:active,
  a.right-arrow:active {
    transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95); }

a.right-arrow {
  background: url("../images/right-arrow.svg") center center no-repeat;
  background-size: contain; }

.study-zone {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }
  .study-zone div.books-wrapper {
    padding: 20px 0px 0px 0px;
    min-height: 1220px;
    background: #50b7ff; }
    .study-zone div.books-wrapper a.btn-large {
      margin: 60px auto 0px auto;
      font-size: 24px;
      font-weight: 600;
      width: 170px;
      display: block;
      padding: 10px 20px;
      height: auto;
      border-radius: 100px; }
  .study-zone .study-books {
    padding: 30px 0px 0px 0px; }
    .study-zone .study-books ul {
      padding: 0px;
      margin: 0 auto -68px auto;
      text-align: center;
      position: relative;
      z-index: 1000; }
    .study-zone .study-books ul li {
      list-style: none;
      display: inline-block;
      margin-left: -4px; }
      .study-zone .study-books ul li a {
        display: block;
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
        .study-zone .study-books ul li a img {
          width: auto; }
        .study-zone .study-books ul li a:hover {
          transform: translateY(-30px); }
        .study-zone .study-books ul li a:active {
          transform: scale(0.95);
          -ms-transform: scale(0.95);
          -webkit-transform: scale(0.95);
          -moz-transform: scale(0.95); }
  .study-zone div.tooltip {
    box-shadow: 0 2px 2px 0 rgba(0, 44, 75, 0.37);
    background: #fff; }
    .study-zone div.tooltip div.tooltip-inner {
      color: #28323f;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 600; }
  .study-zone h2 {
    margin: 20px 0px; }
  .study-zone h2, .study-zone p {
    text-align: Center;
    color: #fff; }

footer {
  margin: 0 auto;
  background: #28323f;
  width: 100%;
  position: relative; }

.testimonials {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }
  .testimonials div.arrows {
    text-align: left;
    margin: 40px 0px 0px 0px; }
  .testimonials div.t-message {
    background: #2ec4b6;
    padding: 82px 135px; }
    .testimonials div.t-message img {
      width: 90px; }
  .testimonials div.client-image {
    overflow: hidden; }
    .testimonials div.client-image img {
      height: 100%;
      width: auto; }
  .testimonials .col-md-6 h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 40px 0px 0px 0px; }
  .testimonials .col-md-6 p {
    margin: 20px 0px 0px 0px; }
  .testimonials .col-md-6 h4 {
    margin: 40px 0px 0px 0px;
    font-size: 16px;
    font-weight: 600; }
    .testimonials .col-md-6 h4 small {
      font-size: 12px; }
  .testimonials .col-md-6 h3, .testimonials .col-md-6 h4, .testimonials .col-md-6 p {
    color: #fff; }

.champ-zone {
  padding: 80px 0px 120px 0px; }
  .champ-zone h2, .champ-zone p {
    text-align: center; }
  .champ-zone a {
    text-decoration: none;
    display: block; }
    .champ-zone a:active {
      transform: scale(0.95);
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95); }
  .champ-zone h2 {
    margin: 20px 0px; }
  .champ-zone p {
    font-weight: 100;
    margin-bottom: 40px; }
  .champ-zone a.btn-default {
    width: 200px;
    height: 63px;
    object-fit: contain;
    border-radius: 31.5px;
    font-size: 24px;
    color: #fff;
    padding-top: 10px;
    margin: 40px auto;
    box-shadow: 0 6px 0 0 #8b0010;
    background-image: linear-gradient(256deg, #ffb80a, #f01446); }
  .champ-zone img {
    width: auto;
    margin: 0 auto; }
  .champ-zone div.kids-game-block {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .champ-zone div.kids-game-block h4 {
      font-size: 32px;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      color: #fff;
      text-align: left; }
    .champ-zone div.kids-game-block img {
      display: block;
      margin: 0 auto; }
  .champ-zone div.switch-game {
    padding: 80px 40px;
    min-height: 570px;
    background: #50b7ff;
    box-shadow: 5px 10px 0 0 #137cc6; }
  .champ-zone div.ipad {
    box-shadow: 5px 10px 0 0 #15a093;
    background: #2ec4b6;
    min-height: 270px;
    padding: 20px 20px; }
    .champ-zone div.ipad h4 {
      font-size: 24px;
      font-weight: normal; }
  .champ-zone div.teddy {
    background: #ea526f;
    box-shadow: 5px 10px 0 0 #de3454;
    min-height: 270px;
    padding: 20px 20px; }
    .champ-zone div.teddy h4 {
      font-size: 24px;
      font-weight: normal; }
  .champ-zone div.xbox {
    background: #7d387d;
    box-shadow: 5px 10px 0 0 #6a226a;
    min-height: 270px;
    margin-top: 24px;
    font-weight: normal;
    padding: 20px 20px; }
  .champ-zone div.controller {
    min-height: 270px;
    background: #fca17d;
    box-shadow: 5px 10px 0 0 #e98b65;
    padding: 20px 20px; }
    .champ-zone div.controller h4 {
      font-size: 24px;
      font-weight: normal; }
  .champ-zone div.amazon {
    min-height: 270px;
    background: #573280;
    box-shadow: 5px 10px 0 0 #432367;
    padding: 20px 20px; }
    .champ-zone div.amazon h4 {
      font-size: 24px;
      font-weight: normal; }
  .champ-zone div.tab {
    min-height: 270px;
    background: #ffa400;
    box-shadow: 5px 10px 0 0 #e39200;
    padding: 20px 20px; }
    .champ-zone div.tab h4 {
      font-size: 24px;
      font-weight: normal; }
  .champ-zone div.binoculars {
    min-height: 270px;
    background: #78bc61;
    box-shadow: 5px 10px 0 0 #62a949;
    padding: 20px 20px; }
    .champ-zone div.binoculars h4 {
      font-size: 24px;
      font-weight: normal; }

.game-zone {
  padding: 80px 0px 80px 0px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background: url("../images/group-34.jpg") center center no-repeat;
  background-size: cover; }
  .game-zone img.game-kid {
    width: auto;
    position: absolute;
    top: -252px;
    left: 0px; }
  .game-zone h2, .game-zone p {
    color: #fff; }
  .game-zone p {
    margin-bottom: 20px; }
  .game-zone .game-wrapper,
  .game-zone .game-wrapper-small {
    min-height: 570px;
    border-radius: 40px;
    border: 4px solid #fff;
    background: transparent;
    position: relative; }
    .game-zone .game-wrapper a,
    .game-zone .game-wrapper-small a {
      min-height: 570px; }
    .game-zone .game-wrapper button,
    .game-zone .game-wrapper-small button {
      background: #fff;
      height: 63px;
      padding-top: 0px;
      width: 200px;
      color: #28323f;
      border-radius: 100px;
      font-size: 24px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -100px;
      opacity: 0; }
    .game-zone .game-wrapper a,
    .game-zone .game-wrapper-small a {
      display: block; }
      .game-zone .game-wrapper a:hover button,
      .game-zone .game-wrapper-small a:hover button {
        opacity: 1; }
  .game-zone .game-wrapper-small {
    min-height: 270px;
    margin-bottom: 20px; }
    .game-zone .game-wrapper-small a {
      min-height: 270px; }
  .game-zone h2, .game-zone p {
    text-align: center; }
  .game-zone h2 {
    margin: 20px 0px; }
  .game-zone p {
    margin: 0px 0px 20px 0px; }

.membership-zone {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0px; }
  .membership-zone h2, .membership-zone p {
    text-align: Center; }
  .membership-zone h2 {
    margin: 20px 0px; }
  .membership-zone p {
    margin: 0px 0px 40px 0px; }
  .membership-zone div.col-md-4 a {
    display: block;
    border-radius: 40px;
    box-shadow: 5px 10px 0 0 #f3f3f3;
    padding: 0px 40px 40px 40px;
    text-decoration: none; }
    .membership-zone div.col-md-4 a h3 {
      font-weight: normal;
      text-decoration: none;
      text-align: left; }
    .membership-zone div.col-md-4 a p {
      font-weight: 100;
      text-decoration: none;
      text-align: left; }
    .membership-zone div.col-md-4 a button {
      margin: 0 auto;
      display: block;
      box-shadow: 0 6px 0 0 #8b0010;
      background-image: linear-gradient(256deg, #ffb80a, #f01446);
      width: 200px;
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      padding: 10px 20px;
      height: auto;
      font-weight: 400;
      border-radius: 100px; }
  .membership-zone div.col-md-4 a > div {
    border-radius: 40px 40px 0px 0px;
    margin: 0px -40px 40px -40px;
    position: relative; }
    .membership-zone div.col-md-4 a > div:after {
      display: block;
      position: absolute;
      left: 20px;
      top: 20px;
      content: '';
      background: #fff;
      width: 40px;
      height: 40px;
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.84);
      border-radius: 40px; }

.bg-blue {
  background: #0798fd; }

.bg-green {
  background: #78bc61; }

.bg-orange {
  background: #ffb42d; }

footer {
  margin: 60px auto 0px auto;
  padding: 0px 0px 40px 0px; }
  footer p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 12px; }
  footer p.f-title {
    color: #0798fd;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  footer img {
    margin-bottom: 20px; }
  footer a.footer-logo img {
    width: auto;
    max-width: 100%; }
  footer div.social-links {
    margin-bottom: 20px; }
    footer div.social-links a {
      color: #fff;
      font-size: 20px;
      display: inline-block;
      padding: 0px 14px; }
  footer ul {
    padding: 0px;
    list-style: none;
    margin: 0px; }
    footer ul li a {
      display: block;
      font-size: 12px;
      color: #f1f1f1;
      font-weight: 400;
      padding: 5px 0px; }
      footer ul li a:hover {
        color: #f6f6f6;
        text-decoration: none; }
  footer form input.form-control {
    border-radius: 100px;
    border: none;
    background: #fff;
    color: #28323f;
    font-size: 14px;
    height: 44px;
    padding-left: 20px;
    font-weight: 300; }
  footer form button {
    margin-top: 20px;
    box-shadow: 0 3px 0 0 #8b0010;
    background-image: linear-gradient(255deg, #ffb80a, #f01446);
    border-radius: 100px;
    color: #fff;
    width: 125px;
    height: 44px;
    border: none; }

p.r-text-large {
  color: #28323f;
  font-size: 20px; }

.page-login {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 240px 0px 0px 0px; }
  .page-login h2 {
    text-align: left; }
  .page-login p.r-text-large {
    font-weight: bold; }
  .page-login img {
    width: auto; }
  .page-login form {
    border-radius: 40px;
    box-shadow: 5px 10px 30px 0 rgba(119, 126, 133, 0.15);
    background: #fff;
    padding: 40px; }
    .page-login form a {
      font-family: "Poppins", sans-serif;
      font-weight: 600; }
      .page-login form a:hover {
        text-decoration: none; }
    .page-login form button {
      color: #fff;
      width: 120px;
      height: 63px;
      float: right;
      box-shadow: 0 3px 0 0 #8b0010;
      background-image: linear-gradient(255deg, #ffb80a, #f01446);
      font-size: 24px; }
  .page-login h4 {
    color: #50b7ff;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 20px 0px; }
  .page-login .account-type {
    margin: 0px 0px 40px 0px;
    border-bottom: thin solid #d9d9d9;
    padding-bottom: 20px; }
    .page-login .account-type div.type {
      border-radius: 40px;
      background: #ffb42d;
      color: #fff;
      position: relative;
      min-height: 80px;
      cursor: pointer;
      margin-bottom: 20px;
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
      .page-login .account-type div.type input[type="radio"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 100;
        cursor: pointer; }
      .page-login .account-type div.type p {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        text-align: left;
        font-family: "Poppins", sans-serif;
        padding-top: 24px;
        padding-left: 80px; }
      .page-login .account-type div.type span {
        position: absolute;
        z-index: 50;
        display: block;
        box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.84);
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: #fff;
        left: 20px;
        top: 20px; }
        .page-login .account-type div.type span:after {
          content: '';
          width: 20px;
          height: 20px;
          background: #28323f;
          border-radius: 40px;
          position: absolute;
          left: 10px;
          top: 11px;
          z-index: 80;
          transform: scale(0);
          opacity: 0;
          transition: .1s ease; }
      .page-login .account-type div.type:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.42); }
      .page-login .account-type div.type:active {
        transform: scale(0.95); }
      .page-login .account-type div.type.selected {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.42); }
        .page-login .account-type div.type.selected span:after {
          transform: scale(1);
          opacity: 1; }
    .page-login .account-type div.type.school {
      background: #0798fd; }
    .page-login .account-type div.type.institute {
      background: #78bc61; }

.form-element {
  margin: 0px 0px 20px 0px; }
  .form-element label {
    color: #28323f;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; }
  .form-element input.form-control {
    height: 80px;
    border-radius: 40px;
    box-shadow: 3px 3px 0 0 #f1f1f1;
    border: thin solid #e7e7e8;
    color: #28323f;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 0px 0px 0px 40px; }
    .form-element input.form-control:focus {
      border: thin solid #50b7ff; }
  .form-element input::placeholder {
    color: #e7e7e8; }
  .form-element input::-webkit-input-placeholder {
    color: #e7e7e8; }
  .form-element input:-ms-input-placeholder {
    color: #e7e7e8; }
  .form-element input::-ms-input-placeholder {
    color: #e7e7e8; }
  .form-element input[type="password"] {
    font-size: 48px; }

div.clearfix {
  clear: both; }

.page-account h2, .page-account p {
  text-align: Center; }
.page-account h2 {
  margin: 20px 0px; }
.page-account p.r-text-large {
  margin-bottom: 20px; }
.page-account h4 {
  text-align: center;
  color: #28323f; }
.page-account form {
  padding: 0px;
  box-shadow: none; }
.page-account .account-type {
  border: none; }
  .page-account .account-type div.type p {
    font-size: 20px;
    margin: 0px; }
.page-account .per-month,
.page-account .per-annum {
  border-radius: 20px;
  box-shadow: 5px 10px 30px 0 rgba(119, 126, 133, 0.15);
  background: #28323f;
  padding: 60px;
  min-height: 880px;
  position: relative; }
  .page-account .per-month ul,
  .page-account .per-annum ul {
    list-style: none;
    padding: 0px;
    margin: 0px; }
  .page-account .per-month ul li,
  .page-account .per-annum ul li {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 600;
    text-align: left;
    padding: 0px 0px 30px 60px;
    background: url("../images/check.svg") top left no-repeat; }
  .page-account .per-month h2,
  .page-account .per-annum h2 {
    font-size: 48px;
    color: #50b7ff;
    text-align: center;
    margin: 20px 0px;
    font-family: "Poppins", sans-serif;
    line-height: 1em; }
    .page-account .per-month h2 small,
    .page-account .per-annum h2 small {
      font-size: 20px;
      color: #fff;
      display: block;
      font-weight: bold; }
  .page-account .per-month a.btn,
  .page-account .per-annum a.btn {
    width: 200px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -100px;
    font-size: 24px;
    height: 63px;
    padding-top: 10px;
    box-shadow: 0 6px 0 0 #454343; }
.page-account .per-annum {
  background: #fff; }
  .page-account .per-annum h2 small {
    color: #28323f; }
  .page-account .per-annum ul li {
    color: #28323f; }
  .page-account .per-annum a.btn {
    box-shadow: 0 3px 0 0 #8b0010;
    background-image: linear-gradient(255deg, #ffb80a, #f01446);
    color: #fff; }

.page-register {
  padding: 170px 0px 0px 0px; }
  .page-register h2 {
    text-align: Center; }
  .page-register p.r-text-large {
    text-align: center;
    font-weight: bold; }
  .page-register .selected-membership {
    background: #0798fd;
    min-height: 88px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0px 0px 40px 0px;
    border-bottom: thin solid #e7e7e8; }
    .page-register .selected-membership p {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      margin: 0px; }
  .page-register div.row.border-bottom {
    border-bottom: thin solid #dedede;
    padding: 20px 0px;
    margin-bottom: 20px; }
  .page-register form {
    margin-bottom: 100px;
    padding: 40px;
    display: block;
    border-radius: 40px;
    box-shadow: 5px 10px 30px 0 rgba(119, 126, 133, 0.15);
    background: #fff; }
    .page-register form button[type="submit"] {
      float: right;
      box-shadow: 0 3px 0 0 #8b0010;
      background-image: linear-gradient(255deg, #ffb80a, #f01446);
      width: 160px;
      height: 63px;
      color: #fff;
      font-size: 24px;
      font-family: "Poppins", sans-serif;
      position: absolute;
      bottom: -160px;
      right: -40px; }
    .page-register form div.credit-cards {
      text-align: left; }
    .page-register form div.card-type {
      display: inline-block;
      margin-right: 20px;
      position: relative;
      height: 60px; }
      .page-register form div.card-type.visa {
        padding-top: 13px; }
      .page-register form div.card-type.selected {
        background: #f1f1f1;
        border: 2px solid #28323f; }
      .page-register form div.card-type img {
        width: 100px; }
      .page-register form div.card-type input[type="radio"] {
        width: 100%;
        position: absolute;
        z-index: 200;
        height: 100%;
        opacity: 0;
        cursor: pointer; }
    .page-register form div.form-element {
      position: relative; }
      .page-register form div.form-element label {
        font-size: 16px; }
    .page-register form h4 {
      color: #0798fd;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      margin: 20px 0px; }

.register-success {
  position: relative;
  padding: 170px;
  background-image: linear-gradient(to top, #ffffff, #5bc0ff);
  width: 100%;
  min-height: 50vh; }
  .register-success div.container {
    position: relative; }
    .register-success div.container h2, .register-success div.container p {
      text-align: center; }
    .register-success div.container h2 {
      margin: 20p 0px; }
    .register-success div.container p {
      color: #28323f;
      font-size: 20px;
      font-weight: 600; }

.page-forgot-password {
  padding: 170px 0px 0px 0px; }
  .page-forgot-password h2, .page-forgot-password p {
    text-align: center; }
  .page-forgot-password p {
    font-weight: 600; }
  .page-forgot-password form {
    padding: 40px;
    border-radius: 40px;
    box-shadow: 5px 10px 30px 0 rgba(119, 126, 133, 0.15); }
    .page-forgot-password form label {
      font-size: 16px; }
    .page-forgot-password form button {
      margin: 0 auto;
      display: block;
      height: 63px;
      box-shadow: 0 3px 0 0 #8b0010;
      background-image: linear-gradient(255deg, #ffb80a, #f01446);
      color: #fff;
      font-size: 24px;
      font-family: "Poppins", sans-serif; }

header {
  position: absolute;
  width: 100%;
  min-height: 80px;
  padding: 20px 0px 0px 0px;
  z-index: 3000; }
  header #logo {
    display: block;
    outline: 0;
    border: none; }
    header #logo img {
      width: 324px;
      object-fit: contain; }
  header ul {
    padding: 0px;
    margin: 0px;
    text-align: right; }
    header ul li {
      display: inline-block;
      margin-left: 30px; }
      header ul li a {
        display: block;
        text-decoration: none;
        color: #28323f; }

header.stick-header {
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 90px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
  header.stick-header #logo img {
    width: 203px; }

body.stick-header {
  padding: 90px 0px 0px 0px; }

.header-search {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background: #ffa400;
  top: 90px;
  display: none; }
  .header-search .btn-default {
    position: absolute;
    right: 0px;
    width: 44px;
    text-align: center;
    padding: 0px;
    top: 16px; }
  .header-search img.curve {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 20px; }
  .header-search form input.form-control {
    background: #ffa400;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fff;
    outline: 0;
    box-shadow: none; }
  .header-search input::placeholder {
    color: #fff; }
  .header-search input::-webkit-input-placeholder {
    color: #fff; }
  .header-search input:-ms-input-placeholder {
    color: #fff; }
  .header-search input::-ms-input-placeholder {
    color: #fff; }

header.white-header {
  padding: 20px 0px 20px 0px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18); }
  header.white-header #logo img {
    width: 203px; }

/*# sourceMappingURL=app.css.map */
