---
layout : default-white.html
title : Learning Champs | Registration
---





<section class="register-success">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <h2>
                    Your Password Reset Is Almost Done!
                </h2>

                <p>
                    Please click on the link in the email that has been sent to you to verify and complete the password
                    reset process.
                </p>

            </div>
        </div>
    </div>






</section>