<footer>

    <img src="{{assets}}images/footerwaves@2x.png" alt="">


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="footer-logo">
                    <img src="{{assets}}images/logo-white.png" alt="">
                </a>


                <div class="social-links">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>

                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>

                </div>
                <p>&copy; 2019 Learning champs</p>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <p class="f-title">
                            About
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms of service
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <p class="f-title">
                            Acadamics
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms of service
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms of service
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <p class="f-title">
                            News & Events
                        </p>
                        <ul>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Terms of service
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <p class="f-title">
                    Newsletter
                </p>

                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.

                </p>
                <form action="#">
                    <input type="email" class="form-control" placeholder="Email address" />
                    <button type="submit">
                        Subscribe
                    </button>
                </form>

            </div>
        </div>
    </div>


</footer>
<script type="text/javascript">






    $(document).ready(function () {
        'use strict';
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        var elements = $("header", "body");


        if ($(document).scrollTop() > 91) {
            elements.addClass("stick-header");
        } else {
            elements.removeClass("stick-header");
        }

        $(document).scroll(function () {
            if ($(document).scrollTop() > 91) {
                elements.addClass("stick-header");
            } else {
                elements.removeClass("stick-header");
            }

        });


        var types = $(".account-type div.type")

        $("div.type").on('click', function (e) {
            e.preventDefault();
            types.removeClass("selected");
            $(this).addClass("selected");
        })


        $(".btn-search").on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass("show-search");
            $(".header-search").fadeToggle(100);
        });
    });
</script>