<footer>


</footer>
<script type="text/javascript">






    $(document).ready(function () {
        'use strict';
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        var elements = $("header", "body");


        if ($(document).scrollTop() > 91) {
            elements.addClass("stick-header");
        } else {
            elements.removeClass("stick-header");
        }

        $(document).scroll(function () {
            if ($(document).scrollTop() > 91) {
                elements.addClass("stick-header");
            } else {
                elements.removeClass("stick-header");
            }

        });


        $(".btn-search").on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass("show-search");
            $(".header-search").fadeToggle(100);
        });
    });
</script>