<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 co-sm-6 col-xs-12">
                <a id="logo" href="#" title="Learning Champs">
                    <img src="{{assets}}images/final-2.png" alt="Learning Champs" title="Learning Champs" />
                </a>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">

                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="btn-default btn-signup">
                            Sign Up
                        </a>
                    </li>

                    <li>
                        <a href="#" class="btn-default btn-login">
                            Login
                        </a>
                    </li>

                    <li>
                        <a href="#" class="btn-default btn-search">
                            <img src="{{assets}}images/shape.svg" alt="" />
                            <img class="close-search" src="{{assets}}images/close.svg" alt="">
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    </div>


    <div class="header-search">

        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <img src="{{assets}}images/curve.svg" alt="" class="curve">

                    <form action="#">
                        <input autocomplete="off" type="text" name="searchq" class="form-control"
                            placeholder="Search by">
                    </form>
                </div>

            </div>
        </div>
    </div>
</header>