<head>
      <meta charset="UTF-8">
      <title> {{page.title}} Learning Champs | version 1.0</title>
      <meta property="og:image" content="" />
      <meta property="og:title" content="" />
      <meta property="og:url" content="" />
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport"
            content="width=device-width initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no shrink-to-fit=no">
      <meta name="google-site-verification" content="AIzaSyD6yRFelNfJlGThrXJ70o1Rpvp18DaSmyA" />
      <link rel="icon" type="image/png" href="{{assets}}favicon.png" />
      <link rel="apple-touch-icon" href="apple-touch-icon.png" />

      <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


      <!-- custom-css -->
      <link rel="stylesheet" type="text/css" href="{{assets}}css/app.css" />

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>

      <!-- google maps -->
      <!--  <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANIg-GgobIKa95MgdD4_WwreBVpregN6c&libraries=places&v=3.31">
            </script> -->

</head>