---
layout : default-white.html
title : Learning Champs | Login
---





<section class="page-login">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>
                    Welcome to<br>
                    Learning Champs
                </h2>

                <p class="r-text-large">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore.
                </p>

                <img src="{{assets}}images/kids.png" alt="">
            </div>

            <div class="col-md-6">

                <form action="">

                    <h4>
                        Select account type
                    </h4>


                    <form action="#">





                        <div class="account-type">

                            <div class="type selected">
                                <span></span>
                                <input type="radio" value="family" name="acc_type">
                                <p>
                                    Family Membership
                                </p>
                            </div>



                            <div class="type school"><span></span>

                                <input type="radio" value="school" name="acc_type">
                                <p>
                                    School Membership
                                </p>
                            </div>




                            <div class="type institute"><span></span>
                                <input type="radio" value="institute" name="acc_type">
                                <p>
                                    Institute Membership
                                </p>
                            </div>

                        </div>


                        <div class="form-element">
                            <label for="">Username</label>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-element">
                            <label for="">Password</label>
                            <input type="password" class="form-control" value="12345">
                        </div>
                        <div class="form-element">
                            <a href="#">
                                Forgot password ?
                            </a>
                        </div>
                        <div class="form-element">
                            <button class="btn btn-default btn-large">
                                Login
                            </button>
                            <div class="clearfix">

                            </div>
                        </div>
                    </form>
                </form>

            </div>
        </div>





    </div>


</section>