---
layout : default.html
title : Home
---



<section id="slider">

    <div class="container">
        <img class="slider-image" src="{{assets}}images/slider-image.png" alt="">
    </div>
    <img class="waves" src="{{assets}}images/waves.png" alt="">

</section>


<section class="content-block-two">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-center">
                    Start Learning
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit ab eaque reprehenderit cupiditate
                    aut obcaecati consectetur nobis culpa atque tempore saepe, commodi quas cumque praesentium illo
                    soluta minus velit!
                </p>
            </div>
        </div>
    </div>
</section>



<section class="content-block-two">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2 class="text-center">
                    Awards and Accolades
                </h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sit ab eaque reprehenderit cupiditate
                    aut obcaecati consectetur nobis culpa atque tempore saepe, commodi quas cumque praesentium illo
                    soluta minus velit!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <img src="{{assets}}images/1.jpg" alt="">
            </div>
        </div>
    </div>
</section>