---
layout : default-white.html
title : Learning Champs | Registration
---





<section class="register-success">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">

                <h2>
                    Bravo, Almost Done!
                </h2>

                <p>
                    You have successfully registered, please click on the link in the email that has been sent to you to
                    verify and complete
                    the registration process.
                </p>

            </div>
        </div>
    </div>






</section>